{% extends 'bases/userbase.html' %}
{% load static %}
{% block content %}
    <title>To Destination &mdash; User</title>
<br>
    <nav style="padding-left: 1150px;border-left-width: 50px;">

            <a href="cadmin" style="padding-right: 10px;">Admin</a>   |
            <a href="control" style="padding-right: 10px; padding-left: 10px;" >Blog - Control</a>      |
             <a href="user" style="padding-right: 10px; padding-left: 10px;" >User</a>      |
            <a href="index" style="padding-left: 10px;">Log Out</a>
        </nav><br>
    <p style="text-align-last: center; font-family: 'Cambria Math',serif; font-size: x-large">User - Dashboard</p>
<br><br>


    
<body class="g-sidenav-show bg-gray-200" data-new-gr-c-s-check-loaded="14.1152.0" data-gr-ext-installed="">
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark ps" id="sidenav-main">
      <hr class="horizontal light mt-0 mb-2">
      <div class="collapse navbar-collapse w-auto max-height-vh-100 ps ps--active-y" id="sidenav-collapse-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-white active bg-gradient-primary" href="dashboard">
              <span class="nav-link-text ms-1">Dashboard</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-white " href="control">
              <span class="nav-link-text ms-1">Blog - Control</span>
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link text-white " href="user">
              <span class="nav-link-text ms-1">Users</span>
            </a>
          </li>
             <li class="nav-item">
            <a class="nav-link text-white " href="index">
              <span class="nav-link-text ms-1">Log Out</span>
            </a>
          </li>
        </ul>
      <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 370px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 279px;"></div></div></div>
      
    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></aside>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">
        </main>
        

    

    <div class="container">
        <a href="#" class="add-user-btn">Add User</a>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
              {% for i in users %}
                <tr>
                    <td>1</td>
                    <td>{{i.name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.is_staff}}</td>
                    <td>
                        <a href="#">Edit</a> 
                        <a href="#">Delete</a>
                    </td>
                </tr>
                Add more rows as needed
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
    }

    .container {
        margin: 20px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #333;
        color: #fff;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .add-user-btn {
        background-color: #4caf50;
        color: #fff;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
    }
</style>

{% endblock content %}